li {
    list-style-type: none;
    /* margin: 0px 0px; */
    line-height: 1.8em;
 
    
}

li span {
    box-sizing: border-box;
    margin: 0 20px;
    display: block;
    border: 1px;
    color:#fff;
    background:blueviolet;
    border-radius: 5px;
    max-width: 30%;
   
}

h3{
    margin-left: 60px;
}
h1{
    margin-left: 60px;
   
}

#score {
    font-size: 20px;
    font-weight: bold;
    margin-left: 60px;
}